* {
  box-sizing: border-box;
}
html {
  width: 360px;
  margin: 0;
}

body {
  max-width: 360px;
}
a {
  text-decoration: none;
}

h2 {
  display: block;
  padding-left: 10px;
  margin-bottom: 5px;
  margin-top: 8px;
  text-align: center;
}
h3 {
  text-align: center;
}

h4 {
  padding-top: 5px;
  margin: 5px;
}
/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.signin-logo {
  text-align: center;
  display: block;
  margin: 60px auto;
  height: 100px;
}
.profile-logo {
  height: 60px;
}
.logo-container {
  display: block;
  min-width: 200px;
  text-align: center;
  padding: 20px;

  margin-top: 70px;
}

.head {
  height: 50px;
  display: inline;
}

.settings {
  float: right;
  width: 20px;
  margin: 15px;
}
.profile {
  float: left;
  width: 20px;
  margin: 15px;
}

/* dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 35px;
  border-radius: 0.188rem;
  background-color: #f1f1f1;
  min-width: 6.25rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 0.625rem 0.875rem;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: darkgrey;
  color: black;
}

  /* show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* change background color of dropdown button when content is shown */
  .dropdown:hover .dropbtn {
    opacity: 0.5;
  }

.form {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
}
.label {
  padding-bottom: 5px;
  padding-top: 15px;
  text-align: left;
  display: block;
  min-width: 75px;
  margin: 0 auto;
}
.input {
  width: 70%;
  height: 45px;
  border: 1px solid black;
  padding-bottom: 5px;
  margin: 0 auto;
  text-align: left;
}

.profile4 {
  margin: 20px auto;
  padding-left: 30px;
}

.logo {
  padding: 15px;
  width: 140px;
}

.menu {
  float: right;
  padding: 25px;
}

.button-black {
  display: block;
  background-color: black;
  color: white;
  margin: 10px auto;
  padding-top: 13px;
  border-radius: 20px;
  text-align: center;
  height: 45px;
  width: 95%;
  border: 1px solid black;
  justify-content: center;
}

.button {
  display: block;
  margin: 40px auto;
  padding: 6px;
  border-radius: 20px;
  text-align: center;
  height: 35px;
  width: 230px;
  border: 1px solid black;
  justify-content: center;
  background-color: black;
  color: white;
}
.or {
  text-align: center;
}
.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  max-width: 60%;
}

.img {
  width: 50px;
}

.who {
  margin-top: 150px;
}

.upload {
  text-align: center;
  margin: 40px auto;
}

.profile2 {
  text-align: center;
  margin: 10px auto;
}

.first-checkbox,
.second-checkbox {
  height: 45px;
  padding: 10px;
  font-size: 20px;
  width: 200px;
}
input[type="radio"] {
  visibility: hidden;
}
.checkbox-container {
  width: 170px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
  border: 1px solid white;
  border-radius: 20px
}
input[type="radio"]:checked+label {
  border: 1px solid black;
  border-radius: 20px;
  height: 45px;
  padding: 10px;

}

.profile3 {
  padding-left: 50px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.input-wrapper {
  margin: 10px auto;
  border: 2px solid black;
  color: black;
  max-width: 320px;
  height: auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.input-wrapper p {
  display: inline-block;
  position: relative;
  text-align: left;
  padding-top: 10px;
}

.partner_img {
  z-index: -1;
}

.request {
  padding-left: 20px;
  margin: 10px auto;
}

.textarea {
  border: 1px solid black;
  margin-left: 20px;
  border-radius: 3px;
  width: 290px;
}
.textarea2 {
  border: 1px solid black;
  text-align: center;
  border-radius: 3px;
}

.hide {
  display: none;
}

.part { display: none; }


.back-header {
  background-color: #f1f1f1;
}
.backh2 {
  display: inline-block;
  margin: 30px auto;
}
/* Range slider */
.slidecontainer {
  width: 200px; /* Width of the outside container */
  padding-bottom: 0;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100px; /* Full-width */
  height: 8px; /* Specified height */
  background: black; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  border-radius: 35px;
  background: black; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.rangeLeft {
  display: inline;
  float: left;
  margin: 0 auto;
  padding-left: 10px;
}
.rangeRight {
  display: inline;
  text-align: right;
  margin: 0 auto;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 14px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: green;
  -webkit-transition: .4s;
  transition: .4s;
  width: 20px;
  border-radius: 35px;
}

.slider-round:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 14px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-round {
  background-color: green;
}

input:focus + .slider-round {
  box-shadow: 1px 0 1px #2196F3;
}

input:checked + .slider-round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider-round:before {
  border-radius: 50%;
}

.filter {
  display: inline;
  text-align: right;
  margin-right: 10px;
  height: 20px;
  border-radius: 3px;

}

.form-input {
  margin-top: 10px;
  margin-left: 20px;

}

.back {
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}

.view {
  margin-top: 15px;
  margin-left: 10px;
}

.find {
  display: inline-block;
  float: right;
  margin-right: 10px;
  margin-top: 15px;
}

.map {
  max-width: 290px;
  text-align: center;
  margin: 10px auto;
}

.error-message {
  color: red;
  font-size: 0.8em;
  background-color: white;
}
#modal-body1,
#modal-body2,
#modal-body3,
#modal-body4,
#modal-body5,
#modal-body7 {
  text-align: center;
  width: 300px;
  margin: 60px 20px;
  height: 550px;
}

.modal-body p {
  display: inline-block;
  text-align: left;
  padding-right: 10px;
  padding-top: 25px;
}

.modal-img {
  width: 100px;
}
.modal-img2 {
  width: 200px;
}

.offers {
  width: 250px;
  height: 40px;
  margin: 10px;
}

.page-container {
  position: relative;
  min-height: 90%;
}

.florist-img-top {
  text-align: left;
  margin: 10px;
  display: inline;
}
.florist-info {
  position: absolute;
  display: inline-block;
  margin-top: 15px;
  margin-left: 10px;
  max-width: 170px;
}
.edit {
  float: right;
  top: 0;
  padding-right: 15px;
  font-size: 20px;
}

.new {
  font-weight: bold;
  text-align: right;
  margin: 25px;
  font-size: 18px;
}

.reward-head {
  margin-top: 0;
}

.rewards {
  background-color: lightgrey;
  color: black;
  display: block;
  height: 55px;
  margin: 15px;
}
.rewards h3 {
  text-align: left;
  display: inline;
  padding: 15px;
  padding-top: 5px;
}
.rewards p {
  float: right;
  display: inline;
  text-align: right;
  padding-top: 5px;
}

.rewards-card {
  background-color: lightgrey;
  margin: 20px;
  padding: 8px;
}
.rewards-card h3 {
  padding: 0;
  margin: 0;
}
.para {
  max-width: 250px;
  padding-left: 10px;
}
.para h3 {
  padding: 10px;
  margin: 5px auto;
}

#modal6 {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.grey {
  background: grey;
}

.blue {
  background-color: blue;
  z-index: 9999;
}
.green {
  background-color: green;
}

.rewards-claim {
  background-color: darkgrey;
  text-align: center;
  height: 250px;
}

#claimh3 {
  display: inline-block;
}
.button-empty {
  background-color: white;
  color: black;
  margin: 5px auto;
  padding: 5px;
  text-align: center;
  border-radius: 20px;
  width: 170px;
}

.claim {
  margin-bottom: 10px;
}

.title{
  text-align: center;
}

.loc-header {
  text-align: center;
  margin: 40px auto;
}

.business-grid {
  display: grid;
  grid-gap: 5px;
  text-align: center;
  margin: 30px auto;
}

.rewards-grid {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  grid-template-rows: 60px 60px 60px;
  margin: 20px 55px;
  grid-gap: 5px;
  font-size: 12px;
  padding: 15px;
}

.rewards-grid__item {
  color: white;
  padding: 5px;
  text-align: center;
}

.rewards-card h3 {
  text-align: left;
}

.part {
  display: inline-block;
}
.dot {
  min-width: 10px;
  border-radius: 50px;
  background-color: green;
  z-index: 999;
}

.tasks {
  display: inline;
  margin-left: 90px;
}

.card {
  background-color: lightgrey;
  margin: 10px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.card span {
  font-weight: bold;
}
.card h3 {
  font-weight: bold;
}

.create {
  background-color: lightgrey;
  padding: 20px;

}

.create input {
  display: block;
  margin: 20px;
}

.next {

}

.button2 {
  text-align: center;
  border-radius: 20px;
  background-color: lightgrey;
  color: black;
  width: 150px;
  margin: 40px auto;
  height: 40px;
  padding: 10px;
}

.florist-header {
  display: inline-block;
  background-color: tan;
  min-width: 100%;
  height: 120px;
  position: relative;
}


  .messages {

    position: relative;
    margin-top: 70px;
  }
  .mess_item {
    background-color: lightgrey;
    display: inline-block;
    margin: 10px auto;
    text-align: left;

    width: 360px;
    height: 75px;
  }
  .grid_item p {
    margin-left: 70px;
  }
.day {
  display: inline;
  text-align: right;
  margin-right: 20px;
}

.mess-img {
  border-radius: 50px;
  display: block;
  float: left;
  margin-left: 20px;
  margin-top: 15px;
  margin-right: 15px;
}

  .img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    margin: 10px auto;
    text-align: center;
    max-width: 340px;
  }

  .hours-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 8px;
  }
  .hours-grid__item p {
    margin: 0;
    padding: 0;
  }

.hours {
  width: 310px;
  background-color: lightgrey;
  color: black;
  margin: 10px auto;
}
.hours h5 {
  padding-top: 15px;
  margin: 8px;
}

.footer-text {
  margin: 0 auto;
}
.nav {
  display: inline;
  clear: both;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 4px;
  justify-content: space-around;
}

/* device with borders */
.smartphone {

  width: 360px;
  height: 640px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
  z-index: 150;
}

/* horizontal line on the top of device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
  z-index: 150;
}

/* circle on the bottom of device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  left: 50%;
  bottom: -4%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
  z-index: 150;
}

/* screen (or content) of the device */
.smartphone {
  width: 370px;
  height: 640px;
  background: white;
  z-index: 1000;
}

.content {
  max-width: 340px;
  height: 530px;
  overflow: scroll;
}
.spacer {
  min-height: 70px;
}

.footer {
  clear: both;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-direction: column;
  position: fixed;
  left: -340%;
  bottom: -95%;
  margin: 0 auto;
  background-color: lightgrey;
  text-align: center;
  width: 350px;
  max-height: 70px;
  font-size: 15px;
  z-index: 100;
}
