* {
  box-sizing: border-box;
}
:root {
  --green: #0bb791;
  --orange: #ff914d;
  --tan: #bca79c;
  --gray: #5f5f5f;
  --brown: #54433a;
}

html {
  width: 360px;
  margin: 0;
}

body {
  max-width: 360px;
}
a {
  text-decoration: none;
}

h2 {
  display: block;
  padding-left: 10px;
  margin-bottom: 5px;
  margin-top: 8px;
  text-align: center;
}
h3 {
  text-align: center;
}

h4 {
  padding-top: 5px;
  margin: 5px;
}
/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.signin-logo {
  text-align: center;
  display: block;
  padding-top: 60px;
  margin: 30px auto;
  height: 150px;
}
.profile-logo {
  height: 60px;
}
.logo-container {
  display: block;
  min-width: 200px;
  text-align: center;
  padding: 20px;
  margin-top: 70px;
}

.container-button {
  width: 330px;
  text-align: center;
}

.head {
  height: 50px;
  display: inline;
}

.settings {
  float: right;
  width: 20px;
  margin: 15px;
}
.profile {
  float: left;
  width: 20px;
  margin: 15px;
}

/* dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 35px;
  border-radius: 0.188rem;
  background-color: #f1f1f1;
  min-width: 6.25rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
/* links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 0.625rem 0.875rem;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: darkgrey;
  color: black;
}

  /* show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* change background color of dropdown button when content is shown */
  .dropdown:hover .dropbtn {
    opacity: 0.5;
  }

.form {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
}
.label {
  padding-bottom: 5px;
  padding-top: 15px;
  text-align: left;
  display: block;
  min-width: 75px;
  margin: 0 auto;
  z-index: 100;
}

.types {
  padding-left: 20px;
}
.input {
  width: 70%;
  height: 45px;
  border: 1px solid black;
  padding-bottom: 5px;
  margin: 0 auto;
  text-align: left;
}

.profile4 {
  margin: 20px auto;
  padding-left: 30px;
}

.logo {
  padding: 15px;
  width: 140px;
}

.menu {
  float: right;
  padding: 25px;
}

.button-black {
  display: block;
  background-color: var(--green);
  color: white;
  margin: 15px auto;
  border-radius: 20px;
  text-align: center;
  padding-top: 10px;
  height: 43px;
  width: 195px;
  justify-content: center;
  z-index: 999;
}

.brown {
  background-color: var(--brown);
  width: 100%;
  height: 33px;
  color: white;
}

.button {
  display: block;
  margin: 40px auto;
  padding: 6px;
  border-radius: 20px;
  text-align: center;
  height: 35px;
  width: 230px;
  border: 1px solid black;
  justify-content: center;
  background-color: black;
  color: white;
  z-index: 999;
}
.or {
  text-align: center;
}
.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  max-width: 60%;
}

.social-post {
  text-align: center;
  margin-left: 30px;
}

.img {
  width: 50px;
}

.who {
  margin-top: 150px;
}

.upload {
  text-align: center;
  margin: 40px auto;
}

.profile2 {
  text-align: center;
  margin: 10px auto;
}

.first-checkbox,
.second-checkbox {
  height: 45px;
  padding: 10px;
  font-size: 20px;
  width: 200px;
}
input[type="radio"] {
  visibility: hidden;
}
.checkbox-container {
  width: 170px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
  border: 1px solid white;
  border-radius: 20px
}
input[type="radio"]:checked+label {
  border: 1px solid black;
  border-radius: 20px;
  height: 45px;
  padding: 10px;

}

.profile3 {
  padding-left: 50px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.input-wrapper {
  margin: 10px auto;
  border-top: 2px solid black;
  color: black;
  width: 100%;
  height: auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.input-wrapper p {
  display: inline-block;
  position: relative;
  text-align: left;
  padding-top: 10px;
}

.partner {
  margin: 10px auto;
  color: black;
  width: 100%;
  height: auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #e3f4f1;
}
.partner p {
  line-height: 10px;
}
.partner span {
  font-weight: bold;
}

.partner_img {
  z-index: 1;
  width: 70px;
  margin: 8px 15px;
  border-radius: 5px;
}

.request {
  padding-left: 20px;
  margin: 10px auto;
}

.textarea {
  border: 1px solid black;
  margin-left: 20px;
  border-radius: 3px;
  width: 290px;
}
.textarea2 {
  border: 1px solid black;
  text-align: center;
  border-radius: 3px;
}

.hide {
  display: none;
}

.part { display: none; }

.header {
  margin-top: 60px;
}
#date {
  width: 89px;
  height: 24px;
}

.back-header {
  background-color: #f1f1f1;
}
.backh2 {
  display: inline-block;
  margin: 30px auto;
}
/* Range slider */
.slidecontainer {
  width: 200px; /* Width of the outside container */
  padding-bottom: 0;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100px; /* Full-width */
  height: 8px; /* Specified height */
  background: black; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  border-radius: 35px;
  background: black; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.rangeLeft {
  display: inline;
  float: left;
  margin: 0 auto;
  padding-left: 10px;
}
.rangeRight {
  display: inline;
  text-align: right;
  margin: 0 auto;
  padding-left: 100px;
}
.form {
  margin: 20px auto;
}
#mess_icon1 {
  width: 30px;
  float: right;
  display: inline;
  position: absolute;
  left: 300px;
  bottom: 310px;
  margin-right: 10px;
  z-index: 1000;
}
#mess_icon2 {
  width: 30px;
  float: right;
  display: inline;
  position: absolute;
  left: 300px;
  bottom: 220px;
  margin-right: 10px;
  z-index: 1000;
}

#mess_icon3 {
  width: 30px;
  float: right;
  display: inline;
  position: absolute;
  left: 300px;
  bottom: 130px;
  margin-right: 10px;
  z-index: 1000;
}

.only {
  margin-top: 30px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: -5px;
  background-color: green;
  -webkit-transition: .4s;
  transition: .4s;
  width: 15px;
  border-radius: 35px;
}

.slider-round:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 10px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-round {
  background-color: green;
}

input:focus + .slider-round {
  box-shadow: 1px 0 1px #2196F3;
}

input:checked + .slider-round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider-round:before {
  border-radius: 50%;
}

.filter {
  display: inline;
  text-align: right;
  margin-right: 10px;
  height: 20px;
  border-radius: 3px;

}

.form-input {
  margin-top: 10px;
  margin-left: 20px;
}

.home-input {
  display: block;
  margin: 10px 40px;
  padding: 5px;
}

.back {
  height: 20px;
  display: inline;
  margin-right: 10px;
  position: relative;
  top: -36px;
  left: 40px;
}

.view {
  margin-top: 15px;
  margin-left: 10px;
}

.find {
  display: inline-block;
  float: right;
  margin-right: 10px;
  margin-top: 15px;
}

.map {
  max-width: 290px;
  text-align: center;
  margin: 10px auto;
}

.error-message {
  color: red;
  font-size: 0.8em;
  background-color: white;
}
#modal-body1,
#modal-body2,
#modal-body3,
#modal-body4,
#modal-body6,
#modal-body5,
#modal-body7,
#modal-body8,
#modal-body9 {
  position: absolute;
  width: 300px;
  margin: 60px 20px;
  height: 550px;
}

#myModal6 h6 {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 25px;
}

#myModal,
#myModal2,
#myModal3,
#myModal4,
#myModal5,
#myModal6,
#myModal7,
#myModal8,
#myModal9 {
  padding:10px;
  width: 360px;
}
#myModal p,
#myModal2 p,
#myModal3 p,
#myModal4 p,
#myModal5 p,
#myModal6 p,
#myModal7 p,
#myModal8 p,
#myModal9 p {
  margin-top: 0;
  padding-top: 0;
  padding-left: 20px;
}
#myModal h5,
#myModal2 h5,
#myModal3 h5,
#myModal4 h5,
#myModal6 h5,
#myModal5 h5,
#myModal7 h5,
#myModal8 h5,
#myModal9 h5 {
  margin-top: 30px;
  padding-left: 20px;
  font-weight: bold;
}

.modal-body p {
  display: inline-block;
  text-align: left;
  padding-right: 10px;
  padding-top: 15px;
}
.modal-body h3 {
  padding-top: 10px;
  margin-top: 0;
}
.modal-body button {
  margin-top: 0;
  margin-bottom: 10px;
  width: 100px;
  height: 30px;
}

.modal-img {
  width: 100px;
}
.modal-img2 {
  width: 200px;
}

.offers {
  width: 250px;
  height: 40px;
  margin: 10px;
}

.page-container {
  position: relative;
  min-height: 90%;
}

.florist-img-top {
  text-align: left;
  margin-left: 15px;
  margin-top: 10px;
  display: inline;
  border-radius: 8px;
  width: 120px;

}
.florist-info {
  position: absolute;
  display: inline-block;
  margin-top: 15px;
  margin-left: 10px;
  max-width: 170px;
}
.edit {
  position: absolute;
  text-decoration: underline;
  top: 144px;
  left: 285px;
  font-size: 20px;
  z-index: 999;
}

.new {
  font-weight: bold;
  text-align: right;
  margin: 25px;
  font-size: 18px;
}

.reward-head {
  margin-top: 0;
}

.rewards {
  background-color: lightgrey;
  color: black;
  display: block;
  height: 55px;
  margin: 15px;
}
.rewards h3 {
  text-align: left;
  display: inline;
  padding: 15px;
  padding-top: 5px;
}
.rewards p {
  float: right;
  display: inline;
  text-align: right;
  padding-top: 5px;
}

.rewards-card {
  background-color: lightgrey;
  margin: 20px;
  padding: 8px;
}
.rewards-card h3 {
  padding: 0;
  margin: 0;
}
.para {
  max-width: 250px;
  padding-left: 10px;
}
.para h3 {
  padding: 10px;
  margin: 5px auto;
}

#modal6 {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.grey {
  background: grey;
}

.blue {
  background-color: blue;
  z-index: 9999;
}
.green {
  background-color: green;
}

.rewards-claim {
  background-color: darkgrey;
  text-align: center;
  height: 250px;
}

#claimh3 {
  display: inline-block;
}
.button-empty {
  background-color: white;
  color: black;
  margin: 5px auto;
  padding: 5px;
  text-align: center;
  border-radius: 20px;
  width: 170px;
}

.claim {
  margin-bottom: 10px;
}

.title{
  text-align: center;
}

.home-header {
  display: block;
  margin: 80px auto;
  font-size: 20px;
  text-align: center;
}

.loc-header {
  text-align: center;
  margin: 40px auto;
}

.business-grid {
  display: grid;
  grid-gap: 5px;
  text-align: center;
  margin: 30px auto;
}
@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 250px;
    grid-gap: 3px;
    margin: 15px;
    border: 1px solid black;
  }

  .rewards-grid__item {
    border: 1px solid black;
    color: white;
    background-color: var(--green);
    text-align: center;
  }
  .grid-button {
    text-align: center;
    margin-top: 10px;
    background-color: var(--green);
    width: 60px;
    height: 60px;
  }
  .grid-img {
    border-radius: 30px;
    margin-top: 10px;
  }
}

.post_img {
  width: 60px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}

#post3,
#post4,
#post5 {
  display: inline-block;
  text-align: left;
  margin-right: 190px;
}

.post2 {
  padding-left: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.rewards-card h3 {
  text-align: left;
}

.part {
  display: inline-block;
  margin: 0;
}
.part2 {
  margin: 50px 5px;

}
.dot {
  position: absolute;
  width: 30px;
  float: right;
  right: 470px;
  border-radius: 50px;
  background-color: green;
  z-index: 999;
}

.tasks {
  display: inline;
  margin-left: 90px;
}

.card {
  background-color: lightgrey;
  margin: 10px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.card span {
  font-weight: bold;
}
.card h3 {
  font-weight: bold;
}

.create {
  background-color: lightgrey;
  padding: 20px;

}

.create input {
  display: block;
  margin: 20px;
}

.next {

}

.button2 {
  text-align: center;
  border-radius: 30px;
  background-color: #0bb791;
  width: 40px;
  margin-top: 25px;
  margin-right: 15px;
  height: 40px;
  font-size: 30px;
  color: white;
  float: right;
}

.florist-header {
  display: inline-block;
  min-width: 100%;
  height: 120px;
  position: relative;
}

  .messages {
    position: relative;
    margin-top: 40px;
  }
  .mess_item {
    background-color: #f0f0f0;
    display: inline-block;
    margin: 5px auto;
    text-align: left;
    width: 100%;
    height: 70px;
  }
  #mess_item1 {
    background-color: #E3F4F0;
  }
  .grid_item p {
    margin-left: 70px;
  }
#day2 {
  position: absolute;
  left: 273px;
  top: 20px;
  display: inline;
  text-align: right;
  margin-right: 20px;
}
#day1 {
  position: absolute;
  left: 273px;
  top: 100px;
  display: inline;
  text-align: right;
  margin-right: 20px;
}
#day3 {
  position: absolute;
  left: 273px;
  top: 180px;
  display: inline;
  text-align: right;
  margin-right: 20px;
}

.mess-img {
  border-radius: 50px;
  display: block;
  float: left;
  margin-left: 20px;
  margin-top: 15px;
  margin-right: 15px;
}

  .img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    margin: 15px auto;
    text-align: center;
    max-width: 340px;
  }

  .user-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
    margin: 15px auto;
    text-align: center;
    max-width: 300px;
    justify-content: center;
  }

.user-grid__item {
  border-radius: 8px;
  width: 145px;
  text-align: center;
}

.hours {
  width: 100%;
  height: 45px;
  background-color: #e4e4e4;
  color: black;
  margin: 8px auto;
  padding: 13px;
  text-align: center;
}
.hours h5 {
  display: inline;
  color: #0bb791;
}

.hours p {
  display: inline;
}

.picture-grid {
  width: 100px;
  border-radius: 8px;
}

.footer-text {
  margin: 0 auto;
  padding-top: 0;
}
.nav {
  display: inline;
  clear: both;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 3px;
  padding-bottom: 0;
  justify-content: space-around;
  width: 40px;
}

/* device with borders */
.smartphone {

  width: 360px;
  height: 640px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
  z-index: 150;
}

/* horizontal line on the top of device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
  z-index: 150;
}

/* circle on the bottom of device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  left: 50%;
  bottom: -4%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
  z-index: 150;
}

/* screen (or content) of the device */
.smartphone {
  width: 370px;
  height: 640px;
  background: white;
  z-index: 1000;
}

.content {
  max-width: 340px;
  height: 530px;
  overflow: scroll;
}
.spacer {
  min-height: 70px;
}

.footer {
  clear: both;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-direction: column;
  position: absolute;
  margin: 0 auto;
  background-color: lightgrey;
  text-align: center;
  width: 339px;
  left: 0;
  bottom: 61px;
  max-height: 70px;
  transform: translate(4.5%, 130%);
  font-size: 15px;
  z-index: 100;
}
